
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #37ff00;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex; 
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0; 
  align-items: center; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  text-align: center; 
  padding: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  background-color: #ffffff; 
  
}

.shcedule_time {
  margin: 10px 0;
  padding: 5px 10px;
  border: 2px solid #00ff0ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}



h1, p {
  margin: 10px 0;
}
.schedule {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bottom-div {
  color: aqua;
  position: absolute; /* Allows you to position it anywhere in the window */
  bottom: 0; /* Moves the div to the bottom of the window */
  width: 100%; /* Optional: Make it span the full width */
  text-align: center; /* Center its content horizontally */
  padding: 10px, 0; /* Add some padding for spacing */
  background-color: black; /* Optional: Background for visibility */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: A slight shadow */
}
